<div class="container">
<h2>{{title}}</h2>
    <form #projectForm="ngForm"(ngSubmit)="onSubmit(projectFom)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name"/>
        </p>

        <p>
            <label for="description">Descripcion</label>
            <textarea name="description" #name="ngModel" [(ngModel)]="project.description"></textarea>
        </p>

        <p>
            <label for="category">Categoria</label>
            <input type="text" name="category" #name="ngModel" [(ngModel)]="project.category"/>
        </p>

        <p>
            <label for="year">Año de lanzamiento</label>
            <input type="number" name="name" #year="ngModel" [(ngModel)]="project.year"/>
        </p>
        
        <p>
            <label for="langs">Lenguajes utilizados</label>
            <input type="number" name="langs" #langs="ngModel" [(ngModel)]="project.langs"/>
        </p>

        <p>
            <label for="image">Imagen del proyecto</label>
            <input type="file" name="image" placeholder="Subir imagen"/>
        </p>

        <input type="submit" value="Enviar"/>

    </form>
</div>
